{% extends "layout.html" %}

{% block title %}
<title>Glass</title>
{% endblock %}

{% block body%}
<body background="static/images/img_background.jpg">

  <div class="col-lg-6 ms-5">
    <br/>
    <div class="product"><h3>Автоскло</h3></div>
    <h6>Ми пропонуємо своїм клієнтам максимально широкий вибір автоскла, представлений відомими брендами: PILKINGTON, SECURIT, AGC, XYG та інших торгових марок.</h6>
    <h6>Багато світових автовиробників надали компаніям PILKINGTON, SECURIT та AGC свої ліцензії на виготовлення оригынального автоскла для своїх автомобілів. </h6>
    <h6>Ми маємо великий асортимент асортимент автоскла, який включає в себе автоскло: з обігрівом, покриттям антивідблиску, акустичним покриттям, теплопоглинаючим покриттям, датчиками дощу, камерами..</h6>
    <h6>Завдяки малому терміну і високої періодичності поставок, ми можемо оперативно реагувати на зміну попиту і поповнювати запаси товару. Крім стабільного асортименту, ми пропонуємо своїм клієнтам найвигіднішу ціну по кожній позиції.</h6>
  </div>

  <img src="static/images/assortment_glass.jpg" class="img_glass mt-5 ms-2" alt="assortment radiator">

{% endblock %}
