{% extends "layout.html" %}

{% block title %}
<title>Kuzov</title>
{% endblock %}

{% block body%}
<body background="static/images/img_background.jpg">
  <div class="col-lg-6 ms-5">
    <br/>
    <div class="product"><h3>Кузовні деталі</h3></div>
    <h6>В нашому асортименті деталі кузова оригінального та неоригінальної якості до європейських, азіатських, корейських і китайських автомобілів.</h6>
    <h6>Враховуючи специфіку кузовного ремонту, будь-який автомобіліст, по суті, робить вибір між оригінальною та неоригінальною запасний частиною. Тому при виборі деталей кузова ми приділяємо велику увагу конкретному товару. Головним критерієм оцінки кожної конкретної позиції є система контролю якості, поставки на регіональні та світові складальні конвеєри, постійне впровадження новинок в асортимент.</h6>
    <h6>Наш асортимент пластикових і металевих деталей налічує більше 5000 найменувань і включає в себе: бампера, підсилювачі бампера,панелі радіатора, решітки радіатора, капоти, крила, двері, кришки багажника, ремонтні частини та інші деталі більш ніж для 40 марок автомобілів.</h6>
    <h6>В нас можна купити деталі кузова оригінальної і неоригінальної якості до європейських, азіатських, корейським і китайських автомобілів. Продукція сертифікована і має сертифікати якості, що відповідають стандартам ISO 9001:2000; DNV (Houston, Texas, USA); IQNet & SQS (Bern, Switzerland); TUV (Germany); Thatcham (Thatcham UK); BVQI (London UK).</h6>
    <h6>Завдяки малому терміну і високої періодичності поставок, ми можемо оперативно реагувати на зміну попиту і поповнювати запаси товару. Крім стабільного асортименту, ми пропонуємо своїм клієнтам найвигіднішу ціну по кожній позиції.</h6>
  </div>

  <img src="static/images/assortment_kuzov.jpg" class="mt-5 ms-2" alt="assortment kuzov">
{% endblock %}
