{% extends "layout.html" %}

{% block title %}
<title>Optyka</title>
{% endblock %}

{% block body%}
<body background="static/images/img_background.jpg">

  <div class="col-lg-6 ms-5">
    <br/>
    <div><center><h3>Автомобільна оптика</h3></center></div>
    <h6>Ми пропонуємо своїм клієнтам максимально широкий вибір (більш ніж 6 000 різних найменувань) оригінальної та неоригінальної автомобільної оптики таких відомих виробників як DEPO, TYC, VALEO, HELLA, Automotive LIGHTING.</h6>
    <h6>Багато світових автовиробників надали компаніям DEPO та TYC свої ліцензії на виготовлення неоригінальною автомобільної оптики для своїх автомобілів. При цьому якість продукції даних компаній настільки висока, що відрізнити оригінальну автомобільну оптику від неоригінальної можна тільки за логотипом виробника.</h6>
    <h6>Наш асортимент автомобільної оптики налічує більше 6000 різних найменувань і включає в себе: фари головного світла, протитуманні фари, повторювачі повороту, покажчики повороту, ліхтарі задні, ліхтарі габаритні та інші.</h6>
    <h6>В нас можна купити автомобільну оптику оригінальної і неоригінальної якості до європейських, азіатських, корейським і китайських автомобілів. Більшість продукції сертифікована і має сертифікати якості, що відповідають європейським стандартам.</h6>
    <h6>Завдяки малому терміну і високої періодичності поставок, ми можемо оперативно реагувати на зміну попиту і поповнювати запаси товару. Крім стабільного асортименту, ми пропонуємо своїм клієнтам найвигіднішу ціну по кожній позиції.</h6>
  </div>

  <img src="static/images/assortment_optyka.jpg" class="mt-5 ms-2" alt="assortment optyka">

{% endblock %}
