{% extends "layout.html" %}

{% block title %}
<title>Radiator</title>
{% endblock %}

{% block body%}
<body background="static/images/img_background.jpg">

  <div class="col-lg-6 ms-5">
    <br/>
    <div class="product"><h3>Системи охолодження та кондиціювання</h3></div>
    <h6>Відведення тепла - важлива частина процесу перетворення хімічної енергії згорання палива в механічну енергію , що дозволяє автомобілю рухатися . Широке застосування в сучасних радіаторах алюмінію, пластику, технології контрольованої атмосферної пайки дозволяють досягати ще вищих коефіцієнтів тепловіддачі і міцності.</h6>
    <h6>Ми пропонуємо своїм клієнтам максимально широкий вибір радіаторів, представлений відомими брендами: HELLA, NRF, AVA, MAGNETI MARELLI, NISSENS, KOYORAD та інших торгових марок.</h6>
    <h6>Ми маємо великий асортимент систем охолодження та кондиціювання, який включає в себе: радіатори основні, радіатори кондиціонера, інтеркулери, пічки, вентилятори та дифузори охолодження.</h6>
    <h6>Завдяки малому терміну і високої періодичності поставок, ми можемо оперативно реагувати на зміну попиту і поповнювати запаси товару. Крім стабільного асортименту, ми пропонуємо своїм клієнтам найвигіднішу ціну по кожній позиції.</h6>
  </div>

  <img src="static/images/assortment_radiator.jpg" class="img_radiator mt-5 ms-2" alt="assortment radiator">

{% endblock %}
